cython==0.29.28
ipython==8.10.0
joblib==1.2.0
line_profiler==3.5.1
matplotlib==3.5.1
memory_profiler==0.60
numba==0.55.1
numpy==1.22.0
pytest-benchmark==3.4.1
python-levenshtein==0.12.0
scipy==1.8.0
snakeviz==0.4.1
